
body {
  font-family: "Times New Roman", Times, serif;
    background-color: #e2e2e2;
  }
.section {
    padding-left: 15px;
}
img {
  width: 380px;
  height: 250px;
  padding-left: 15px;
  padding-bottom:20px;
  display:block;
}
p {
  padding-left: 15px;
  font-size: large;
}
  
  